{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "importOrder": [
    "^node:(.*)",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@(.*).css$",
    "^~/shared(.*)$",
    "^~/entities(.*)$",
    "^~/features(.*)$",
    "^~/widgets(.*)$",
    "^~/layouts(.*)$",
    "^~/pages(.*)$",
    "^~/app(.*)$",
    "^[./]"
  ]
}
